div {
  background-color: #0f4a7b;
  color: #fff;
  padding: 2rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
}
